body {
    background-color:#D69995;
}

header {
    text-align: center;
    font-size: 75;
    font-family: georgia;
    background-color: #1A6D9D;
    color: azure;  
}

p {
    font-size: 35px;
    margin: 20;
    text-align: center;
}

.w3-center {
    text-align: center;
    text-emphasis-position: left;
    font-size: 20;
    margin: 20; 
}

.w3-quarter {
    align-content: center;
}

.dropbtn {
    background-color: #1A6D9D;
    color: aliceblue;
    font-size: 16px;
    border: none;
    cursor: pointer;
    font-weight: bold;
}

.dropdown {
    position:relative;
    display: inline-block;
}

.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
}

.dropdown-content a {
    color: black;
    padding: 3px 16px;
    text-decoration: none;
    display: block;
    font-size: 16;
}

.dropdown-content a:hover {background-color: #4E99D6}


.dropdown:hover .dropdown-content {
    display: table-footer-group;
}

.dropdown:hover .dropbtn {
    background-color: #42749D;
}

.image-circle {
    max-width: 100%;
    height: auto;
    position: center;
    align-content: center;
}

.image-circle {
    opacity: 0.7;
    height: 300;
    align-content: center;
    margin: 40;
}
    
button {
     font-size: 16px;
     color: aliceblue;
     background-color: #00549D;
     padding: 12px 52px;
}      

.paragraph {
    font-size: 10;
    background-color: #1A6D9D;
    color:white;
    align-content: center;
}

.col-md-6 > p {
    Font-size: 20; 
    text-align: center;
}

footer > p {
    font-size: 20;
    align-content:space-between;
    display: inline-flex;
}

p1 {
    font-size: 30;
}

p2 {
    font-size: 30;
    overflow: auto;
}

p3 {
    font-size: 30;
}

.image-circle{
    border-radius: 50%;
    height: auto;
    display: inline-block;
    background-position: center;
    background-size: cover;
}

.image-logo {
    width:50%;
    max-height: 500px;
    text-align: center;
    margin: 0 auto;
    display:block;
}

.picture-center {
    text-align: center;
}

.header-center {
  font-size: 30;
}

.header-center2 {
    text-align: middle;
}

.header-photo {
    width: 10.5%;
}

h3 {
    font-weight: bold;
    align-content: center;
}

.w3-D69995 w3-xlarge w3-padding-xlarge {
    background-color='#D69995;  
}

.w3-main w3-content w3-padding {
    max-width:1200px;
    margin-top:20px;
}

.w3-row-padding w3-padding-16 w3-center {
    background-color: aliceblue;
}
.row {
   width: 100%; 
}

.footy {
    text-align: center;
}

@media only screen and (max-width: 480px) {
    .footy > p1,p2,p3 {
        font-size: 20px !important;
    }
}

@media only screen and (max-width: 480px) {
    .paragraph > p {
        font-size: 20px !important;
    }
}